@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

header {
  background-color: #e29578;
  margin: 0%;
  margin-top: 0%;
  height: 90px;
  /* background-image: url("/images/Salmon\ Cookie\ Logo.jpg"); */
}

footer {
  margin: 0%;
  /* background-image: url("images/Salmon\ Cookie\ Logo.jpg"); */
  height: 80px;
  text-align: center;
  background-color: #c89f9c; 
}
div {
  align-content: flex-end;
}

nav {
  text-align: center;
}

/* div {
  background-image: url('/images/plate\ image.png');
} */

body {
  background-image: url("images/Salmon\ Cookie\ Logo.jpg");
  /* background-color: #3d405b; */
}

h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #83c5be;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e29578;
  text-align: center;
}

h4 {
  color: #006d77;
  text-align: center;
}

img {
  max-width: 20%;
  height: auto;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #006d77;
  text-align: center;
}

h1,
table {
  text-align: center;
  margin: 25px auto;
}

table,
td,
th {
  border: solid 1px black;
  padding: 5px;
}
